@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Azeret Mono", monospace;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* global css style  */

.scrool {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.heading {
  font-size: 32px;
  color: #0d1321;
  font-weight: 800;
}

.description {
  font-size: 16px;
  line-height: 28px;
  color: #0d1321;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  color: #0d1321;
  padding: 15px 25px;
  border: 1px solid #0d1321;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.btn:hover {
  background-color: #0d1321;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 16px !important;
}

section {
  margin: 80px 0px;
}

.light-bg {
  background-color: rgba(13, 19, 33, 0.02);
  padding: 97px;
}

/* hero banner  */

.headerbanner {
  background-image: url("../assets/Hero-bg.png");
  text-align: center;
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0px 50px 0px;
}

.banner-content h1 {
  font-size: 48px;
  line-height: 68px;
  color: #0d1321;
}

.banner-content p,
.myins-heading p,
.current-target-heading p {
  max-width: 850px;
  font-weight: 500;
  margin: 0 auto;
}

.banner-content a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  background-color: #0d1321;
  padding: 15px 25px;
  border: 1px solid #0d1321;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.5s linear;
}

.banner-content a:hover {
  background-color: white;
  color: #0d1321;
}

/* wey web style  */
.whyweb-heading h3 {
  margin-bottom: 25px;
}

.whyweb-heading p {
  margin-bottom: 50px;
}

.whyweb-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 60px 45px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 6px 0px;
  margin-bottom: 30px;
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.content-left h4 {
  font-size: 24px;
  color: #0d1321;
  line-height: 36px;
}

/* my inspiration style  */

.myins-heading h3 {
  margin-bottom: 25px;
}

.myins-heading p {
  margin-bottom: 50px;
}

.inspi-video {
  padding: 32px;
  border: 1px solid #0d132169;
  border-radius: 10px;
  margin-bottom: 150px;
  height: 550px;
}

/* current target style  */
.current-target-heading h3 {
  margin-bottom: 25px;
}

.current-target-heading p {
  margin-bottom: 50px;
}

.current-target-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-bottom: 150px;
}

.current-target-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
}

.current-target-content a {
  color: #0d1321;
  font-size: 18px;
  font-weight: 600;
}

/* my next target style  */
.next-target-container {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 40px;
  border: 1px solid #0d132169;
  border-radius: 20px;
  margin-bottom: 30px;
}

.next-target-container:last-child {
  margin-bottom: 100px;
}

.next-target-img {
  flex: none;
}

.next-target-content h4 {
  margin-bottom: 15px;
}
.next-target-content p {
  margin-bottom: 25px;
}

.next-target-content a {
  color: #0d1321;
  font-size: 18px;
  font-weight: 600;
}

/* support section style  */
.support-section {
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0.237) 100%
    ),
    url("../assets/handshake.jpg");
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 150px;
  padding: 20px;
}

.support-section h3 {
  margin-bottom: 25px;
  color: white;
}

.support-section p {
  margin-bottom: 30px;
  color: white;
  max-width: 600px;
}

form {
  width: 100%;
}

input {
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Azeret Mono", monospace;
}

input:focus {
  outline: none;
}

input[type="text"] {
  width: 70%;
}

input[type="submit"] {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s linear;
}
input[type="submit"]:hover {
  background-color: #0d1321;
  color: white;
}

/* footer style  */

footer {
  padding-bottom: 50px !important;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content h4 {
  font-size: 20px;
  color: #0d1321;
}

.social-link {
  display: flex;
  gap: 25px;
}

/* media query style  */

@media screen and (max-width: 992px) {
  .whyweb-content {
    flex-direction: column-reverse;
    gap: 50px;
    padding: 30px;
    text-align: center;
  }

  .reverse {
    order: 1;
  }

  .content-left {
    gap: 20px;
    align-items: center;
  }

  .current-target-container {
    flex-direction: column;
  }

  .inspi-video {
    padding: 20px;
    margin-bottom: 130px;
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  .banner-content h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .description {
    font-size: 14px;
    line-height: 25px;
  }

  .light-bg {
    padding: 20px;
  }

  .current-target-content {
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .next-target-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .support-section {
    height: auto;
  }

  input[type="text"] {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-content h4 {
    text-align: center;
  }

  .inspi-video {
    padding: 5px;
    margin-bottom: 100px;
    height: 250px;
  }
}
